################################################################################
# For nanopb
################################################################################
# Looks like we still need to "sudo apt install protobuf-compiler", for "protoc"
# to work.
protobuf # 3.12.4 in initial development.
grpcio-tools
################################################################################

pyserial
gitpython

